<div class="content">
  <h2 data-toggle="tooltip" data-placement="left" title="the title of the story"><%= @branch.history[:title] if @branch %></h2>
  <p data-toggle="tooltip" data-placement="left" title="what's been written so far"><%= @branch.history[:content] if @branch %></p>

  <%= form_for @new_branch, :url => create_branch_path(@tree, @branch) do |f| %>

    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "form-control", :placeholder => "add onto the story" %><br />
    <%= f.submit "Create Branch", :class => "btn btn-success"   %>

  <% end %>
</div>
 
 




<script>

$(".instruction").removeClass("closed");

</script>