<div class="modal fade" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title"><%= current_user && !current_user.guest ? "Edit" : "Sign up" %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :class => "form-control", autofocus: true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :class => "form-control", autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %></div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "done", :class=> "btn btn-success" %>
      <% end %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->