<!DOCTYPE html>
<html>
<head>
  <title>Looseleaf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => "shared/instructions" %>
   

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <%= link_to "looseleaf", root_path, {:id => "logo", :class => "navbar-brand"} %>
    
    <% if user_signed_in?  %>
      
      <%= render :partial => "navigation/logged_in" if !current_user.guest %>
      <%= render :partial => "navigation/guest" if current_user.guest %>
      <p class="navbar-text navbar-right"><%= current_user.username %></p>

      
    <% elsif !user_signed_in?  %>
      <%= render :partial => "navigation/logged_out" %>
    <% end %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</div>
</body>
</html>
