<!DOCTYPE html>
<html>
<head>
  <title>ChainMeUp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="push-nav"></div> 

  <% if notice %>
  <div class="alert alert-success">
    <a href="#" class="alert-link"><p class="notice"><%= notice %></p></a>
  </div>
  <% end %>

  <% if alert %>
  <div class="alert alert-success">
    <a href="#" class="alert-link"><p class="notice"><%= alert %></p></a>
  </div>
   <% end %>

  <nav class="navbar navbar-default navbar-fixed-top white" role="navigation">
  <a class="navbar-brand" id="logo" href="#">StoryForge</a>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link navbar-right'  %></li>
    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link navbar-right'  %></li>
  </ul>  

</nav>

  <%= yield %>


</body>
</html>
