<!DOCTYPE html>
<html>
<head>
  <title>Looseleaf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <svg class="home"></svg>

  <nav class="navbar navbar-default navbar-fixed-top white" role="navigation">
      <%= link_to "looseleaf", root_path, {:id => "logo", :class => "navbar-brand"} %>

 <%= render :partial => "navigation/logged_out"  %> 

</nav>

  <%= yield %>


</div>
</body>
</html>
